{% extends "JgeBundle::layout.html.twig" %}
{% block main %}
    <div class="row">
        <div id="menu" class="col-md-3">
            <h3>Supprimer un membre</h3>
        </div>
        <div id="content" class="col-md-9">
            <div class="well">
                <p>
                    Êtes-vous certain de vouloir supprimer "{{ member.firstname }} {{ member.lastname }}" de la liste ?
                </p>

                {# On met l'id de l'utilisateur dans la route de l'action du formulaire #}
                <form action="{{ path('jge_member_delete', {'id': member.id}) }}" method="post">
                    <a href="{{ path('jge_member_list') }}" class="btn btn-default">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Annuler
                    </a>

                    <input type="submit" value="Supprimer" class="btn btn-danger" />
                    {# Ceci va générer le champ CSRF #}
                    {{ form_rest(form) }}

                </form>

            </div>

        </div>
    </div>

    <hr>
{% endblock main %}