{% extends "JgeBundle::layout.html.twig" %}
{% block main %}
    <div class="row">
        <div id="menu" class="col-md-3">
            <h3>Membres</h3>
        </div>
        <div id="content" class="col-md-9">
            <h2>{{ member.firstname }} {{ member.lastname }}</h2>

            <div class="well">
                <p>Licence n° : {{ member.licenceNum }}</p>
                <p>Rôle(s) au sein du club : </p>

                            <p>{% for m in member %}
                                    - {{ m.role }} <br />
                                {% endfor %}</p>

                <p>Né(e) le : {{ member.dateOfBirth |date("d/m/Y") }}</p>
                <p>Adresse(s) mail : {{ member.email1 }} / {{ member.email2 }}</p>
                <p>Mot de passe : {{ member.password }}</p>
                <p>Numéro(s) de tel. : {{ member.telNumber1 }} - {{ member.telNumber2 }}</p>
                <p>Sexe : {{ member.sex }}</p>
                <p>Pointure : {{ member.shoeSize }}</p>
                <p>Taille (en cm) : {{ member.heigth }}</p>
            </div>

            <p>
                <a href="{{ path('jge_member_list') }}" class="btn btn-default">
                    <i class="glyphicon glyphicon-chevron-left"></i>
                    Retour à la liste
                </a>
                <a href="{{ path('jge_member_update', {'id': member.id}) }}" class="btn btn-default">
                    <i class="glyphicon glyphicon-edit"></i>
                    Modifier les infos
                </a>
                <a href="{{ path('jge_member_delete', {'id': member.id}) }}" class="btn btn-danger">
                    <i class="glyphicon glyphicon-trash"></i>
                    Supprimer le membre
                </a>
            </p>

        </div>
    </div>

    <hr>
{% endblock main %}